.Tweet-container {
  border-bottom: 1px solid #caf3ff;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-height: 200px;
  background-color: #fff;
}

.Tweet-image {
  float: left;
  width: 15%;
}

.Tweet-image img {
  margin: 15px auto;
}

.Tweet-content {
  float: left;
  width: 85%;
}

.Tweet-user {
  margin-top: 10px;
  font-size: 1.15em;
}

.Tweet-user span:first-child {
  float: left;
  font-weight: 600;
  margin-right: 10px;
}

.Tweet-user a {
  float: left;
}

.Tweet-info {
  font-weight: normal;
  float: right;
  margin-right: 20px;
}

.Tweet-text {
  float: left;
  padding-right: 20px;
  font-size: 1em;
  text-align: justify;
}

@media (max-width: 768px) { 
  .Tweet-container {
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
  }

  .Tweet-image {
    width: 20%;
  }

  .Tweet-content {
    float: left;
    width: 80%;
  }

  .Tweet-info {
    float: left;
    width: 100%;
  }

  .Tweet-user {
    font-size: 0.925em;
  }

  .Tweet-text {
    font-size: 0.875em;
  }
}